.ca-form-btn {
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border: none !important;
    transition: 0.3s;
}

.ca-form-btn:hover {
    background-color: orangered !important;
}

input:not(input[type="radio"]):focus, select:focus {
    border: 1px solid var(--primary-color) !important;
    outline: 1px solid var(--primary-color) !important;
}

.back-btn {
    background-color: #fff !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.back-btn:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border: 1px solid var(--primary-color) !important;
}

@media screen and (max-width: 576px) {
    .img-container img {
        width: 100% !important;
    }
    .ca-form-btn, .back-btn {
        width: 100% !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .img-container img {
        width: 75% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .img-container img {
        width: 50% !important;
    }
}

@media screen and (min-width: 992px) {
    .img-container img {
        width: 25% !important;
    }
}