:root {
  --orange-color: #ff5722; /* A vibrant orange */
  --white-color: #ffffff;
  --dark-color: #343a40;
  --light-gray: #f8f9fa;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--white-color);
  color: var(--dark-color);
}

.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: var(--orange-color);
}

.hero-section {
  background-color: var(--light-gray);
  color: var(--dark-color);
}

.hero-title {
  color: var(--orange-color);
}

.hero-subtitle {
  color: var(--dark-color);
}

.team-section .member {
  color: rgb(74, 71, 71);
  padding: 1rem 0rem;
  border-radius: 0.5rem;
  width: 50%;
  background: #eee;
}

.team-title,
.futures-title {
  color: var(--orange-color);
  font-weight: bold;
}

.member p:last-child {
  color: var(--orange-color);
}

.member-item,
.future-item {
  background-color: var(--light-gray);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.member-item:hover,
.future-item:hover {
  transform: translateY(-5px);
}

.text-orange {
  color: var(--orange-color);
}

.divider {
  border-top: 3px solid var(--orange-color);
  width: 50px;
  margin: 40px auto;
}

footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}
