:root {
  --primary-color: #ff5722;
}

.job-post:hover {
  transform: translateY(-3px);
  transition: 0.2s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.myBtn {
  background-color:  var(--primary-color);
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.myBtn:hover {
  background-color: #c84017;
}