.left-side-container {
    width: 25%;
}

.right-side-container {
    width: 75%;
}

.filters-container {
    position: sticky;
    top: 4rem;
}

.job {
    padding: 0.5rem;
    overflow: auto;
}

.job:hover {
    background-color: rgb(248, 248, 248);
    border-radius: 0.5rem;
    transition: 0.25s;
}

.posted-jobs:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 0.5rem;
    transition: 0.25s;
}

.close-btn {
    background-color: transparent !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    transform: 0.25s;
}

.close-btn:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.apply-btn {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}

.apply-btn:hover {
    background-color: orangered;
    border-color: orangered;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    max-height: 98vh;
    overflow: auto;
}

@media screen and (max-width: 992px) {
    .left-side-container, .right-side-container {
    width: 100%;
}
}