:root {
  --primary-color: #ff5722;
}

.selectSignup {
    min-height: 35rem !important;
}

.myIcon {
  color: var(--primary-color) !important;
}

.myCard{
    transition: 1s;
}

.myCard:hover {
    transform: scale(1.1);
}