:root {
  --primary-color: #ff5722;
  --primary-hover: #e64a19;
}

.basic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: 1s;
}

.basic-info:hover {
  transform: scale(0.9);
}

.basic-info p:first-child {
  font-weight: 600;
  color: #333;
}

.basic-info p:last-child {
  color: white;
  /* background: var(--primary-color); */
  font-weight: 500;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.orange {
  color: var(--primary-color);
}
.orange-bg {
  background-color: var(--primary-color);
}

.btn.orange-bg:hover {
  background-color: var(--primary-hover);
}

.right-arrow {
  margin-left: 4px;
  color: var(--primary-color);
  transition: 0.3s;
}

a:hover .right-arrow {
  margin-left: 8px;
  transform: scale(1.5);
  color: var(--primary-hover);
}
