@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Tajawal:wght@400;500;700&display=swap");

* {
  font-family: "Rubik", "Tajawal", sans-serif;
}


/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&family=Noto+Kufi+Arabic:wght@400;600&display=swap");

* {
  font-family: "Work Sans", "Noto Kufi Arabic", sans-serif;
} */



:root {
  --primary-color: #ff5722;
}



body {
  margin-top: 5rem ;
}

.orange {
  color: var(--primary-color);
}